vlan {{ item.vlan }}
 name {{ item.vlanName }}
 vn-segment {{ item.vni }}
!
vrf context {{ item.custName }}_{{ item.vlan }}
 vni {{ item.vni }}
 rd auto
 address-family ipv4 unicast
  route-target both auto evpn
!
int vlan {{ item.vlan }}
 vrf member {{ item.custName }}_{{ item.vlan }}
 ip forward
 no shut
!
int nve1
 member vni {{ item.vni }} mcast-group {{ item.mcast }}
!
evpn
  vni {{ item.vni }} l2
    rd auto
    route-target import auto
    route-target export auto